node_modules
.DS_Store

/.cache
/build
.env
.env.local
.env.example
/.next
/.vercel
/.nuxt
/dist
/public/static
/public/assets
/public/favicon.ico
/public/robots.txt
/public/sitemap.xml
/public/manifest.json
/public/asset-manifest.json
/public/favicon.png
/public/favicon.svg
/public/logo.png                  